<h1>New Message</h1>
<br>

<% if @message.errors.any? %>
  <p>Something went wrong:</p>
  <ul>
    <% @message.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @message do |f| %>

  <div class="field>"
    <%= f.label :contact_ids, "To" %>
    <%= f.collection_select :contact_ids, Contact.order(:name), :id, :name, {},
    {multiple: true} %>
  </div>
<br>
  <div class="field>"
    <%= f.label :from %>
    <%= f.text_field :from %>
  </div>
<br>
  <div class="field>"
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>
<br>
<br>
  <%= f.submit %>
<% end %>
